.theme-dark {
  --card-border: var(--gray-700);
  --card-box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  --card-text: var(--gray-200);
  --card-input-disabled: var(--gray-700);
  --card-input-border: var(--gray-600);
  --card-switch-disabled: var(--gray-600);
}

.theme-light {
  --card-border: var(--gray-200);
  --card-box-shadow: 0 0 10px 1px rgba(131, 131, 131, .25);
  --card-text: var(--gray-350); 
  --card-input-disabled: var(--gray-200);
  --card-input-border: var(--card-border);
  --card-switch-disabled: var(--gray-200);
}

body,
.password-generator,
.form-input,
.config {
  display: flex;
  flex-direction: column;
}

.password-generator {
  background-color: var(--background);
  border: 1px solid var(--card-border);
  border-radius: 10px;
  box-shadow: var(--card-box-shadow);
  margin-bottom: 72px;
  width: 400px;
}

.password-generator h1 {
  padding: 16px 0;
}

.password-generator form {
  padding: 24px;
}

.password-generator h1 {
  border-bottom: 1px solid var(--card-border);
  color: var(--green-500);
  text-align: center;
}

.form-input,
.config {
  margin-bottom: 24px;
}

.form-input label {
  color: var(--card-text);
  margin-bottom: 4px;
}

.form-input input {
  background-color: var(--card-input-disabled);
  border-radius: 10px;
  color: var(--card-text);
  padding: 8px;
}

.form-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.form-actions button {
  background-color: var(--green-500);
  border-radius: 10px;
  color: var(--white);
  cursor: pointer;
  padding: 8px;
  transition: filter .6s;
  width: 50%;
}

.form-actions button:hover {
  filter: brightness(.8);
}

.form-actions button:first-child {
  width: calc(50% - 16px); 
}

.config label {
  color: var(--gray-200);
}

.form-switch {
  align-items: center;
  border-bottom: 1px solid var(--card-border);
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.form-switch h2 {
  color: var(--card-text);
  font-size: 18px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--card-switch-disabled);
  -webkit-transition: .4s;
  transition: .4s;
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: var(--green-500);
}

.switch input:checked + .slider:before {
  background-color: var(--white);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media screen and (max-width: 414px) {
  .password-generator {
    max-width: 300px;
  }

  .form-actions {
    flex-direction: column;
  }

  .form-actions button:first-child,
  .form-actions button {
    width: 100%;
  }
}