:root {
  --white: #ffffff;
  --green-400: #299384;
  --green-500: #1d887a;
  --gray-500: #545454;
}

* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  align-items: center;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.glassmorphism-card {
  height: 430px;
}

/* Form */

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control input {
  border-radius: 30px;
  outline: none;
  padding: 12px 16px;
}

.form-control input:focus {
  border: 1px solid var(--form-input-border-color);
  box-shadow: 0 0 8px 1px var(--form-input-box-shadow);
}

button {
  background: var(--green-400);
  border-radius: 30px;
  color: var(--white);
  cursor: pointer;
  font-weight: bold;
  padding: 12px;
  transition: filter 0.5s;
}

button:hover {
  filter: brightness(0.9);
}