:root {
  --green-400: #299384;
}

.glassmorphism-card {
  height: 430px;
}

/* Form */

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-control input {
  border-radius: 30px;
  outline: none;
  padding: 12px 16px;
}

.form-control input:focus {
  border: 1px solid var(--form-input-border-color);
  box-shadow: 0 0 8px 1px var(--form-input-box-shadow);
}

button {
  background: var(--green-400);
  border-radius: 30px;
  color: var(--white);
  cursor: pointer;
  font-weight: bold;
  padding: 12px;
  transition: filter 0.5s;
}

button:hover {
  filter: brightness(0.9);
}