.glassmorphism-card {
  height: 350px;
  width: 400px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 16px;
  line-height: 20px;
  margin: 8px 0;
  text-align: center;
}

img {
  height: 100px;
}

.coutdown {
  display: flex;
  color: var(--white);
  gap: 8px;
  margin: 10px 0 12px;
  position: relative;
}

.days:after,
.hours:after,
.minutes:after {
  content: ":";
  font-weight: bold;
  margin-left: 59px;
  position: absolute;
}

.days:before,
.hours:before,
.minutes:before,
.seconds:before {
  bottom: -17px;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
}

.days:before {
  content: "d";
}

.hours:before {
  content: "h";
}

.minutes:before {
  content: "m";
}

.seconds:before {
  content: "s";
}

.counter {
  align-items: center;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 8%);
  border-radius: 50%;
  display: flex;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  width: 50px;
}