body {
  background-color: var(--background);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin: 112px auto 32px;
  max-width: 992px;
}

.gallery .card-img {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  width: 280px;
}

.gallery .card-img:hover img {
  border: 10px solid var(--green-500);
  transform: scale(1.1);
}

.gallery .card-img:hover .legend {
  color: var(--green-500);
  margin-top: 20px;
}

.gallery img {
  border: 10px solid var(--gray-700);
  box-shadow: 1px 1px 8px 1px #232323;
  height: 280px;
  object-fit: cover;
  transition: transform 0.2s linear, border 0.2s linear;
  width: 260px;
}

.gallery .legend {
  color: var(--gray-350);
  margin-top: 8px;
  text-align: center;
}

.modal {
  background-color: rgba(40, 40, 40, .9);
  bottom: 0;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: visibility 0s ease-in-out, opacity 0.5s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 10;
}

.modal .modal-content {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.modal .modal-content img {
  border: 10px solid var(--gray-700);
  height: auto;
  width: 80%;
}

.modal .close-btn {
  color: var(--white);
  cursor: pointer;
  font-size: 72px;
  position: absolute;
  right: 16px;
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  opacity: 1;
  visibility: visible;
}