:root {
  --background: #2e2d2d;
  --green-400: #62aba1;
  --green-500: #1d887a;
  --white: #ffffff;
  --gray-200: #c7c7c7;
  --gray-350: #878787;
  --gray-400: #626262;
  --gray-500: #545454;
  --gray-600: #474747;
  --gray-700: #3b3b3b;
}

a {
  text-decoration: none;
}

* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.main-container {
  align-items: center;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}