:root {
  --backgroud: #2e2d2d;
  --white: #ffffff;
}

* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  align-items: center;
  background-color: var(--backgroud);
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
