:root {
  --white: #ffffff;
  --green: #1d887a;
  --gray-500: #545454;
}

.theme-light {
  --avatar-border: var(--white);
  --background: #dddddd;
  --text-color: #1d887a;
  --social-network-icon: var(--green);
  --bubble-gray: rgba(221,221,221,1);
  --theme-switch-shadow: #b7b7b7;
}

.theme-dark {
  --avatar-border: var(--white);
  --background: #2e2d2d;
  --text-color: var(--white);
  --social-network-icon: var(--white);
  --bubble-gray: rgba(46,45,45,1);
  --theme-switch-shadow: #575757;
}

* {
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  align-items: center;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.section {
  height: 400px;
  max-width: 500px;
  position: relative;
  width: 300px;
}

.section:before,
.section:after {
  background: linear-gradient(45deg,
   var(--bubble-gray) 0%, 
   rgba(29,136,122,1) 100%);
  border-radius: 50%;
  content: "";
  position: absolute;
  z-index: -1;
}

.section:before {
  height: 250px;
  right: -50px;
  top: -50px;
  width: 250px;
}

.section:after {
  bottom: -50px;
  height: 150px;
  left: -50px;
  width: 150px;
}

.card {
  align-items: center;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, .20);
  border: 1px solid rgba(255, 255, 255, .25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  z-index: 10;
}

.avatar {
  border: 5px solid var(--avatar-border);
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

h1,
h2 {
  color: var(--text-color);
}

h1 {
  font-size: 24px;
  margin-top: 16px;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  margin-top: 8px;
}

.social-network {
  display: flex;
  gap: 8px;
  margin-top: 32px;
}

.social-network svg {
  height: 30px;
  width: 30px;
}

.social-network svg path {
  fill: var(--social-network-icon);
}

.theme-mode {
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 70px;
}

.theme-mode input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-mode .slider {
  background-color: var(--gray-500);
  border-radius: 20px;
  height: inherit;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: inherit;
}

.theme-mode .slider:before {
  background: var(--white) url('/images/moon.png') no-repeat center;
  border-radius: 50%;
  box-shadow: 0 0px 15px var(--theme-switch-shadow);
  content: "";
  height: 40px;
  position: absolute;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 40px;
}

.theme-mode input:checked + .slider {
  background-color: var(--green);
}

.theme-mode input:checked + .slider:before {
  background: var(--white) url('/images/sunny.png') no-repeat center;
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

canvas {
  position: absolute;
  z-index: -4;
}